body {
  background-color: blanchedalmond;
  display: flex;
  justify-content: center;
  color: #cdb380;
  align-items: baseline;
}

.calculator {
  width: 400px;
  height: 600px;
  border: none;
  box-shadow: 0 0 4rem 0 rgb(0 0 0 / 30%);
  background: #343838;
}

.resultBlock {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 100px;
  border: solid #5e6f8c;
  border-width: 0px 0px 3px 0px;
  font-size: 150%;
}

#result {
  margin-right: 20px;
}

.container {
  width: 100%;
  height: 500px;
  background: #343838;
}

.toolsBlock {
  display: inline-flex;
  width: 75%;
  max-width: 75%;
}

.toolsBtn {
  margin: 0%;
  width: 33.33333333333333%;
  height: 100px;
  max-width: 33.33333333333333%;
  max-height: 25%;
  float: left;
}

.toolsBtn:active {
  color: #5e6f8c;
  transition: 0.1s;
}

.operators {
  margin: 0%;
  display: inline-flex;
  flex-direction: column;
  width: 25%;
  max-width: 25%;
  float: right;
}

.operatorBtn {
  width: 100%;
  max-width: 100%;
  height: 100px;
}

.operatorBtn:active {
  color: #5e6f8c;
  transition: 0.1s;
}

.numbersBlock {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 75%;
  max-width: 75%;
}

.numberBtn {
  width: 33.33333333333333%;
  max-width: 33.33333333333333%;
  height: 100px;
}

.numberBtn:active {
  color: #5e6f8c;
  transition: 0.1s;
}

button {
  background: #343838;
  border: none;
  outline: none;
  font-size: 150%;
  color: #cdb380;
}
